<template>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Name</th>
        <th>QR Base 64</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Deleted at</th>
      </tr>
    </thead>
    <tbody v-for="(beneficiary, index) in beneficiaries" :key="beneficiary.id">
      <tr>
        <td>{{ index + 1 }}</td>
        <td><a v-bind:href="'/beneficiary/' + beneficiary.id">{{ beneficiary.id }}</a></td>
        <td>{{ beneficiary.name }}</td>
        <td>{{ beneficiary.qr }}</td>
        <td>{{ beneficiary.created_at }}</td>
        <td>{{ beneficiary.updated_at }}</td>
        <td>{{ beneficiary.deleted_at }}</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  data() {
    return {
      beneficiaries: null,
    };
  },
  mounted() {
    axios
      .get("/api/beneficiaries")
      .then((response) => (this.beneficiaries = response.data.data))
      .catch(error => console.log(error));
  },
};
</script>

<style>
</style>